.wrapper {
  background-image: url("../../images/firstBackground.jpg");
  background-position-x: 60%;
  background-position-y: 45%;
  color: var(--font_white);
  padding: 120px 15px;
  min-height: 600px;

  .headersWrapper {
    max-width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
    .mainTitle {
      font-size: 63px;
      font-weight: 700;
      letter-spacing: -0.03em;
      line-height: 0.9;
    }

    .secondTitle {
      font-size: 13px;
      font-weight: 400;
      text-align: right;
    }
  }

  .description {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    max-width: 570px;
  }

  .linkToForm {
    display: block;
    width: fit-content;
    padding: 15px 35px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: var(--buttons_background);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .thirdTitle {
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
    max-width: 80vw;
    letter-spacing: 1px;
    // margin-bottom: 50px;

  }
}
