.wrapper {
  display: block;
  border-radius: 10px;
  max-width: 410px;
  margin: auto;
  color: black;
  cursor: pointer;
  background-color: white;

  .carImage {
    height: 270px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .secondWrapper {
    padding: 15px;
    .carName {
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
    }
    .parametersList {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 7px;
      margin-bottom: 15px;

      .parametersListItem {
        display: flex;
        align-items: center;

        .parametersListItemIcon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          stroke: black;
          fill: white;
        }

        .parametersListItemText {
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1px;
        }
      }
    }
    .priceList {
      display: grid;
      grid-template-columns: 1fr 7fr;
      row-gap: 3px;
      column-gap: 7px;
    }
  }
}
