@import "../../sass/main.scss";

header {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background-color: var(--header_footer_color);
  @include mq(tablet) {
    padding: 15px 60px;
  }
  @include mq(desktop) {
    padding: 20px 70px;
  }

  .headerLogoLink {
    margin-right: auto;
    .headerLogoLinkIcon {
      height: 50px;
      width: 60px;
      fill: white;
      @include mq(tablet) {
        height: 50px;
        width: 65px;
      }
      @include mq(desktop) {
        height: 55px;
        width: 70px;
      }
    }
  }

  .headerLinksWrapper {
    display: flex;

    .headerLinkWrapper {
      display: flex;
      align-items: center;
      &:first-of-type {
        margin-right: 15px;
      }

      .headerLinkIcon {
        width: 45px;
        height: 45px;
        fill: white;
        margin-right: 5px;
        opacity: 0.8;
        @include mq(tablet) {
          margin-right: 7px;
        }
      }

      .headerLinkTextBlock {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        font-size: 12px;
        @include mq(desktop) {
          font-size: 13px;
        }
        .headerLinkTextBold {
          font-size: 13px;
          @include mq(desktop) {
            font-size: 14px;
          }
        }

        .headerLink {
          color: white;
          font-style: italic;
          transition: color 50ms linear;
          &:hover {
            color: var(--hover_color);
          }
        }
      }
    }

    .headerEmailLink {
      display: none;
      @include mq(tablet) {
        display: flex;
      }
    }
  }
}
