@import "../../sass/main.scss";

.wrapper {
  background-color: var(--background_gray);
  padding: 20px 25px;
  @include mq(desktop) {
    padding: 30px 80px;
  }

  .firstTitle {
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    @include mq(desktop) {
      font-size: 35px;
    }
  }
  .cardsList {
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    grid-gap: 20px;
    @include mq(tablet) {
      grid-template-columns: 1fr 1fr;
    }
    @include mq(desktop) {
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 50px;
    }
  }
  .secondTitle {
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    @include mq(desktop) {
      font-size: 35px;
    }
  }
}

.swiperWrapper {
  position: relative;

  .swiper {
    position: static;
    margin-bottom: 30px;
    border-radius: 10px;
    max-width: 440px;
    @include mq(tablet) {
      max-width: 900px;
    }
    @include mq(desktop) {
      max-width: 1540px;
    }
    & > div + div {
      position: absolute;
      bottom: -25px !important;
    }
    & > div > div {
      height: initial;
      box-sizing: border-box;
    }
  }
}

.swiperSlide {
  height: 100%;
}
